@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --white: #ffffff;
    --link: #444444;
    --primary: #ff3811;
    --black-bg: #151515;
    --footer-text: #E8E8E8;
}

html {
    font-family: "Inter", sans-serif;
}
